## ch2. 파이썬

* 2.2 파이썬 데이터 타입
* 2.3 파이썬 조건문 if
* 2.4 파이썬 for 반복문
* 2.5 List comprehension
* 2.6 파이썬 function
* 2.7 파이썬 class

### 2.2 파이썬 데이터 타입
#### 2.2.1 리스트

In [4]:
#list 데이터 참조

a=[10,20,30,40,50]
print(a[0], a[1], a[2], a[3], a[4])
print(a[-1], a[-2], a[-3], a[-4], a[-5])

10 20 30 40 50
50 40 30 20 10

In [6]:
# list append() method 사용

b=[]
b.append(10), b.append(100), b.append("a"), b.append('b')
print('b= ', b)

b=  [10, 100, 'a', 'b']

In [7]:
#list slice 기능

c=[1,2,3,4,5]
print(c[0:2], c[1:])
print(c[:3], c[:-2])
print(c[:])

[1, 2] [2, 3, 4, 5]
[1, 2, 3] [1, 2, 3]
[1, 2, 3, 4, 5]

#### 2.2.2 튜플(Tuple)
* 초기 데이터를 변경할 수 없는 읽기 전용 데이터
* 소괄호로 묶어서 생성한다

In [8]:
# 튜플 인덱스 및 슬라이스

a=(1,2,3,4,5)
print(a[0], a[-2], a[0:2], a[1:], a[:])

1 4 (1, 2) (2, 3, 4, 5) (1, 2, 3, 4, 5)

#### 2.2.3 딕셔너리
* Hash/ Map 타입과 비슷한 구조
* Key-Value를 한 쌍으로 묶어 데이터 저장

In [11]:
# 딕셔너리 데이터 생성

score={'Kim':90, 'Lee':80, 'Jun': 70}
print(score)
print("score['KIM'] = ", score['Kim'])

{'Kim': 90, 'Lee': 80, 'Jun': 70}
score['KIM'] =  90

In [12]:
#딕셔너리 타입 메서드

print(score.keys())
print(score.values())
print(score.items())

dict_keys(['Kim', 'Lee', 'Jun'])
dict_values([90, 80, 70])
dict_items([('Kim', 90), ('Lee', 80), ('Jun', 70)])

#### 2.2.4 type(), len() 함수
* 머신러닝에서는 학습 데이터의 타입을 확인해 적합한 데이터 타입으로 변환해야 한다.

In [14]:
#  type(), len()
a=[10,20,30,40,50] #list
b=(10,20,30,40,50) #tuple
c={'KIM':90, 'LEE':80} #dictionary
d=[[100,200], [300,400], [500,600]] #list

print(type(a), type(b), type(c), type(d))
print(len(a),len(b),len(c),len(d))

<class 'list'> <class 'tuple'> <class 'dict'> <class 'list'>
5 5 2 3

### 2.3 파이썬 조건문 IF
* if 조건식으로 작성한 뒤 콜론(:) 으로 마무리한다.
* if 문에서 in 키워드는 조건식에 있는 데이터가 in 다음에 나오는 데이터 타입에 해당하는지를 나타낸다.

In [17]:
# 예제 2.9
# 파이썬 조건문 if 사용법 1

a=1
if a > 0:
    print("a ==", a)
    print("positive number")
elif a==0:
    print("a ==", a)
    print("zero")
else:
    prnt("a ==", a)
    print("negative number")

a == 1
positive number

In [19]:
#파이썬 조건문 if 사용법 2

list_data=[10,20,30,40,50]
dict_data={ 'key1': 1, 'key2': 2}

if 45 in list_data:
    print("45 is in list_data")
else:
    print("45 is not in list_data")
    
if 'key1' in dict_data:
    print("key1 is in dict_data")
else:
    print("key1 is not in dict_data")

45 is not in list_data
key1 is in dict_data

### 2.4 파이썬 for 반복문
* 두 가지 형식으로 나타낼 수 있음
    * in range(...) :  시작 값 ~ 마지막 값-1
    * for 문에서 in 다음에 list/dictionary등의 데이터 타입으로 표시하는 방법

In [27]:
#2.11 for반복문 사용법1

for data in range(10):
    print(data, " ", end='') #줄바꿈 없음
print(sep='\n')              #줄바꿈 실행

for data in range(0,10):
    print(data, " ", end='')
print(sep='\n')

for data in range(0,10,2):
    print(data, " ", end='')

0  1  2  3  4  5  6  7  8  9
0  1  2  3  4  5  6  7  8  9
0  2  4  6  8

In [33]:
#2.12 for반복문 사용법2
list_data=[10,20,30,40,50]
for data in list_data: print(data, " ", end='')
print(sep='\n')

dict_data={'key1':1, 'key2' :2}

for data in dict_data : #key 값만 반복 변수에 들어감
    print(data, " ",end='') 
print(sep='\n')
for key, value in dict_data.items():  #items() 메서드를 활용하면 키,밸류 모든 값이 반복 변수에 들어간다.
    print(key, " ", value)

10  20  30  40  50
key1  key2
key1   1
key2   2

### 2.5 List Comprehension
* 리스트 변수 내부에 for문을 이용하여 데이터를 만드는 방법
* 머신러닝에서 데이터 조작하고 원하는 형식으로 만들어 내기 위해 자주 사용한다.

In [35]:
#예제 2.13 
# List Comprehension 사용법

list_data=[ x**2 for x in range(5)]
print(list_data)

[0, 1, 4, 9, 16]

In [37]:
raw_data = [[1,10],[2,15],[3,30],[4,55]]

all_data=[x for x in raw_data]
x_data=[x[0] for x in raw_data]
y_data=[x[1] for x in raw_data]

print("all data=", all_data)
print("x_data=", x_data)
print("y_data=", y_data)
print(raw_data[1], raw_data[2], raw_data[3])

all data= [[1, 10], [2, 15], [3, 30], [4, 55]]
x_data= [1, 2, 3, 4]
y_data= [10, 15, 30, 55]
[2, 15] [3, 30] [4, 55]

### 2.6 파이썬 함수 function

#### 2.6.1 함수 정의와 리턴 값

In [39]:
#2.14 파이썬 함수 정의, 사용법

def sum(x,y):
    s = x + y 
    return s

result = sum(10,20)
print(result)

30

In [40]:
#2.15 1개 이상의 값을 리턴하는 함수 정의, 사용법

def multi_ret_func(x):
    return x+1, x+2, x+3

x=100
y1,y2,y3 = multi_ret_func(x)
print(y1,y2,y3)

101 102 103

#### 2.6.2 디폴트 파라미터(Default Parameter)
* 함수가 호출되었을 경우 입력 파라미터에 명시적인 값이 없으면 기본 값을 사용한다

In [41]:
#2.16 디폴트 파라미터 정의, 사용법

def print_name(name, count=2): #count는 디폴트 파라미터로 설정
    for i in range(count):
        print("name == ", name)
print_name("DAVE")

name ==  DAVE
name ==  DAVE

#### 2.6.3 mutable, immutable 파라미터
* mutable : 입력 파라미터로 들어간 변수의 원본 값을 함수 내에서 바꿀 수 있음
    * mutable type : 리스트, 딕셔너리, 넘파이 등
* immutable : 입력 파라미터로 들어간 변수의 원본 값이 함수 내에서 바뀌지 않는 데이터 타입을 말함
    * immutable type : 숫자, 문자, 튜플 등

In [43]:
#2.17 mutable/ immutable 타입
def mutable_immutable_func(int_x, input_list): #2개 입력 파라미터를 갖는다
    int_x += 1
    input_list.append(100)
    
x = 1 #숫자
test_list=[1,2,3] #리스트
mutable_immutable_func(x, test_list)
print("x== ", x, ", test_list == ", test_list)

x==  1 , test_list ==  [1, 2, 3, 100]

결과를 보면 정수 변수 x 값은 1로 변화가 없지만 list 값은 변화한 것을 확인할 수 있다. <br>
즉, mutable data type 인 리스트, 딕셔너리, 넘파이 등을 함수 인자로 가지면 처음 값이 변경될 수 있다.

* 따라서 파이썬에서 함수를 작성하고 입력 파라미터로 mutable data type을 받는 경우,
    * 함수 내에서 원본 값이 변경되지 않도록 보관
    * 함수 내에서 다양한 작업을 수행한 후, 보관되어 있는 값을 다시 복원시키는 과정이 필요하다

#### 2.6.4 람다(lambda) 함수
* 람다 함수를 만들 땐, def를 사용하지 않고 한 줄 형태로 함수를 작성한다
* 머신러닝에서 수치 미분, 활성화 함수 등을 일반적으로 수학에서의 함수 표기법 f(x), f(x,y)으로 나타낼 때 사용한다

In [46]:
#2.18 람다 정의, 사용법

f = lambda x : x+100   #f(x)=x+100 형태로 사용할 경우

for i in range(3): #range 값 0,1,2
    print(f(i))    # i=0 -> f(0)=100  i=1 -> f(1)=101  i=2 -> f(2)=102

100
101
102

### 2.7 파이썬 클래스(class)

* class 클래스명 : <br>
   
   def __init__(self, 입력1, 입력2, ---) :  # 생성자  <br>
        intit method는 파이썬 클래스가 반드시 가져야 하는 메서드이다
        생성자 역학을 수행하며, 객체가 만들어질 때 자동으로 한 번 호출된다
   def method1(self, 입력1, 입력2, ---) :  # method1  <br>
   def method2(self, 입력1, 입력2, ---) :  # method2

In [100]:
# 2.19 파이썬 클래스 정의, 기본 예제

class Person:
    def __init__ (self, name):
        self.name = name
        print(self.name + " is initialized")
    def work(self, company):
        print(self.name + " is working in " + company)
    def sleep(self):
        print(self.name + " is sleeping")

# 객체를 생성해 메서드 호출

obj = Person("PARK") #Person 객체  obj 생성
obj.work("ABCDEF")   #work() method call
obj.sleep()          #sleep() method call


# 속성에 직접 접근. 기본적으로 파이썬에서는 모두 public임
print("current person object is", obj.name)

PARK is initialized
PARK is working in ABCDEF
PARK is sleeping
current person object is PARK

### 파이썬 클래스 추가 공부

In [52]:
class JSS:
    def __init__(self):
        print("JSS 클래스 선언")

__init__ 함수 밑에 써진 함수는 기본으로 실행된다.

In [53]:
a = JSS()

JSS 클래스 선언

In [54]:
class JSS:
    def __init__(self):
        print("JSS 클래스 선언")
    def show(self):
        print("show 실행")

In [57]:
a = JSS()
a.show()

JSS 클래스 선언
show 실행

self 는 클래스를 저장할 변수임. self -> a 가 되서 a.show로 쓸 수 있음

In [74]:
class JSS:
    def __init__(self):
        self.name = input("name = ")
        self.age = input("age = ")
    def show(self):
        print("나의 이름은 {}, 나이는 {}세입니다.".format(self.name, self.age))

In [75]:
a = JSS()

name = 효재
age = 24

In [76]:
a.name

'효재'

In [77]:
a.age

'24'

In [78]:
a.show()

나의 이름은 효재, 나이는 24세입니다.

#### 앞선 클래스 상속받기
* super().__init__() 은 앞선 클래스 내용을 모두 가져온다

In [80]:
class JSS2(JSS):
    pass         #JSS를 상속받는데 변경된 것은 없음

In [81]:
a = JSS()

name = 홍길동
age = 28

In [82]:
a.show()

나의 이름은 홍길동, 나이는 28세입니다.

In [83]:
class JSS2(JSS):
    def __init__(self):
        pass

In [84]:
a = JSS2() # def로 init을 정의하지 않았기 때문에 실행되지 않음

In [90]:
class JSS2(JSS):
    def __init__(self):
        super().__init__()  #super() --> class JSS
        self.gender = input("성별 : ")
    def show(self):
        print("나의 이름은 {}, 성별은 {}자, 나이는 {}세입니다.".format(self.name, self.gender, self.age))

In [91]:
a = JSS2()

name = 효재
age = 24
성별 : 여

In [92]:
a.show()

나의 이름은 효재, 성별은 여자, 나이는 24세입니다.