In [32]:
a = "10"
b= "hello World!"
print(a)
print(b)
print(type(a))
print(type(b))

10
hello World!
<class 'str'>
<class 'str'>

In [12]:
##연산자
##+ - * / // % **
x = 5
y = 3
print(x+y, x-y, x*y, x/y, x//y, x%y, x**y)

8 2 15 1.6666666666666667 1 2 125

In [16]:
##대입 연산자
for i in range(0,3):
    x = 5
    x += 1 
    print(x)

6
6
6
6

In [17]:
#비교 연산자
a = 5
b = 3
print( a == b, a != b, a > b , a < b, a >= b , a <= b )

False True True False True False

In [22]:
## and or not
## and 두 조건이 모두 참인 경우 참
## or 두 조건 중 하나만 참이면 참
## not 반대로 출력 
a=10
print( (a>5) and (a<15) )  # 두 조건 중 하나만 참인 경우
print( (a>5) or (a<15) )

True
True

In [26]:
not(False)  #not 부정의 의미 불의 형태가 반대로 출력

True

#### if문
- 조건식이 참인 경우 코드가 실행 (들여쓰기 한 코드가 실행)
- 조건식이 거짓인 경우 코드가 실행이 되지 않는다.
- 거짓일 때의 코드를 실행하려면 else문을 사용해야 한다.

In [29]:
a = 20
if a < 10 :
    print("a는 10보다 작다")
else:
    print("a는 10보다 크거나 같다.")

a는 10보다 크거나 같다.

###

In [2]:
# 값 입력받기
score = int(input("점수를 입력하세요 : "))
if score >= 90 :
    print('A')
elif score >= 80 :
    print('B')
elif score >= 70 :
    print("C")
else:
    print('D')

A

In [ ]:
#간격 지정 가능

for i in range(0, 5, 2):
    print (i)

In [ ]:
#반대로 출력 가능
for i in range(10,1, -1):
    print(i)

In [65]:
#1 1부터 10까지 합
sum = 0
for i in range(1, 11):
    sum += i
print(sum)

55

In [54]:
#2  1부터 50까지 짝수 합
sum = 0
for i in range(0, 51, 2):
    sum += i
print(sum)

650

In [55]:
sum = 0
for i in range(1,51):
    if i % 2 == 0 :
        sum += i
print(sum)

650

In [ ]:
#3 주사위 2개를 굴려서 합이 10이 되는 경우의 수를 출력하시오

for i in range(1,7):
    for j in range(1,7):
        if i + j == 10 :
            print( i, j )

In [ ]:
## while문
# 초기값을 미리 지정
# while 조건식 

i = 0
while i < 10 :
    print(i)
    i += 1

In [ ]:
#break문 사용하기

for i in range(0,100,1):
    if i == 7 : 
        break
    else:
        print(i)

In [3]:
for i in range(0, 100 ,1):
    print(i, end = ' ')
    if i == 7 :
        break

0 1 2 3 4 5 6 7

In [61]:
# 1부터 1000까지 합을 구하는데, 합계가 900이 넘어가는 최초의 숫자는 무엇일까요

sum = 0
for i in range(0, 1000 ,1):
    sum += i
    if sum <= 900:
        continue
    else: 
        print(sum)
        print(i)
        break

903
42

In [66]:
sum = 0
for i in range(0, 1000 ,1):
    sum += i
    if sum >= 900: 
        print(sum)
        print(i)
        break

903
42

In [87]:
i = 0
sum = 0
while i < 1000 :
    sum += i
    if sum < 900 :
        i += 1
    else :
        break
print(i)
print(sum)

42
903

In [5]:
a = [20, 10, 50, 5]
b = [10 ,20, 30, 40]

In [6]:
# sort() - 오름차순 정렬
a.sort()
print(a)

# reverse() 역순으로 정렬
b.reverse()
print(b)

a.append(22)
print(a)

[5, 10, 20, 50]
[40, 30, 20, 10]
[5, 10, 20, 50, 22]

In [97]:
# 1부터 70까지 3의 배수를 리스트로 만들어서 출력하시오
a = []
for i in range(1, 71):
    if i % 3 == 0:
        a.append(i)
print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [100]:
#딕셔너리 데이터형
dict = { 'name' : 'test', 'age': 20, 'phone': "01022424978"}
print(dict)
print(dict['name'])

{'name': 'test', 'age': 20, 'phone': '01022424978'}
test

In [107]:
#데이터의 형태 [ { }, { }, { }]

test_data = [
    {'name' : 'test', 'age' : '20'} , 
    {'name' : 'test2', 'age' : '30'}, 
     {'name' : 'test3','age' : '25'}
]

test_data

[{'name': 'test', 'age': '20'},
 {'name': 'test2', 'age': '30'},
 {'name': 'test3', 'age': '25'}]

In [115]:
print(test_data[0])
print(test_data[0]['name'])

{'name': 'test', 'age': '20'}
test

In [118]:
a = "Hello world"
print(a.upper())
print(a.lower())
print(a.title())

HELLO WORLD
hello world
Hello World

#### 공백 지우기, 대체하기, 쪼개기
- strip()
- replace()
- split()

In [127]:
# 양쪽 여백의 공백만 건드린다.

a = "   ' h   ello world    '   "
print(a.strip())  
print(a.lstrip())
print(a.rstrip())

' h   ello world    '
' h   ello world    '
   ' h   ello world    '

In [128]:
a.replace(" ", "")    # 공백이 있는 것은 공백 없이 출력한다.

"'helloworld'"

In [7]:
a = "a, b, c, d, e"
print(a)

a, b, c, d, e

In [130]:
a.split(",")

['a ', ' b', ' c', ' d', ' e']

### 함수

def 함수명 ( 매개변수 ) :

함수 안에 있는 변수 = 지역변수

In [140]:
def func1():
    print("hello world")

In [141]:
print(func1())

hello world
None

In [136]:
x = 3              # x는 전역변수

def func2(a):
    result = a * x
    print(result)
    return result  # result는 지역변수
    

print(func2(5))
print(x)

15
15
3

In [143]:
def func3(a, b, c) :
    result = a + b + c
    return result

print(func3(1,3,5))

9

In [148]:
def func4(a,b,c=1):
    result = a + b + c
    return result

print(func4(5,1))
print(func4(5,2,1))

7
8