#### 변수
데이터를 저장하는 공간의 이름
- 변수를 선언할 때는 변수명 = 변수 값 으로 사용
- 데이터 타입은 여러가지
- 파이썬에서는 데이터 타입을 지정할 필요가 없음

In [2]:
## 데이터 타입들은 python에서 알아서 지정함
a = "test"
b =12324
print(type(a))
print(type(b))

<class 'str'>
<class 'int'>

#### 연산자
일반적으로 사칙연산을 의미
- 일반연산자 : +-*/ //(몫) %(나머지)
- 대입연산자 : += -= *= /= //= %=
- 비교연산자 : 두 값을 비교해 참과 거짓을 출력하는 연산자(주로 조건문,반복문에 이용)
- and : True True = True (&)
- or : True or False = True (|)
- not : True = False (~)

In [ ]:
#일반연산자
x = 10
y = 3
print(x+y, x-y, x*y, x/y, x//y, x%y)

#대입연산자
x+=y
print(x)

#비교연산자 > >= < <= == !=
print( x!=y)
print( x==y )
not(False)

#### 조건문 if
조건에 맞춰 컴퓨터에게 지시를 내리기 위한 기본적인 방법
- 조건식이 참이면 실행 할 코드
- 조건식이 거짓인 경우에 실행할 코드
- 실행할 코드들은 들여쓰기로 구분

In [ ]:
a = 10
if a >= 5 :
    print("5보다 큰 수")
else:
    print("5보다 작거나 같은 수")

#### 연습문제
1. input()을 이용해 유저에게 입력 값을 받아오기
2.  90 이상이면 A, 80 이상이면 B, 70 이상이면 C, 아니면 F

In [15]:
input_data = int(input("값을 입력하세요 : "))

if input_data >= 90 :
    print("A")
elif input_data >= 80 :
    print("B")
elif input_data >= 70 :
    print("C")
else:
    print("F")

A

#### 반복문 FOR While
1. for문
 - for i in range(시작, 종료, 간격)
 - for i in list[]
 - 출력 시 end = ' ' 를 사용하면 줄바꿈이 되지 않는다.
2. While문
- 조건식, 초기값 지정
- 조건식이 참인 경우에 초기값을 증가 시켜서 조건이 거짓이 될 때까지 반복
3. continue
   : 반복문으로 돌아가고 continue 밑의 값들은 실행하지 않고 반복문으로 돌아감
4. berak
   : 반복문 종료

In [20]:
for i in range(1,10, 1):
    print( i , end= ', ')

for l in ['a', 'b', 'c']:
    print(l, end = ',')

1, 2, 3, 4, 5, 6, 7, 8, 9, a,b,c,

In [27]:
## 1~10 까지의 합을 구하라

sum = 0
for i in range(1,11):
    sum += i
print(sum)

ssum = 0
i = 1
while i < 11 :
    ssum += i
    i += 1
print(ssum)

#순서가 바뀌면, 2~11까지 더해지니까 조심하기 !
ssumm = 0
i = 1
while i < 11 :
    i += 1
    ssumm += i
print(ssumm)

55
55
65

In [36]:
list_ex = ['A','B','C','D']

i = 0
while i < len(list_ex) :
    print(list_ex[i])
    i += 1

A
B
C
D

In [ ]:
for i in range(1,100,1):
    if i < 10 :
        continue
    elif i > 15:
        break
    print(i, end= ",")

In [16]:
sum = 0
for i in range(1,100,1):
    if i < 25 :
        continue
    elif i > 45 :
        break
    else:
        sum += i
        
print(sum) 


i = 1
summ = 0
while i < 100 :
    if i < 25 :
        i += 1
        continue
    elif i > 45 :
        break
    summ += i
    i += 1
    
print(summ)

735
735

#### 함수
함수는 입력받은 어떤 데이터를 가지고 행동을 하여 결과값을 돌려주는 코드 - 로직
- def 함수명 ()
- 매개변수 설정
- 함수 호출 시 함수명(인자값) 으로 호출
- 매개변수 개수와 인자 개수 동일해야 한다.

In [33]:

#매개변수가 없어도
def func1():
    return "Hello World"
print(func1())

#매개변수가 있다면
def func2(x,y):
    if type(x) == int and type(y) == int :  # 'int' 가 아니라 int로 조건 지정해야 맞게 됨
        result = x** y
    else:
        result = "입력 받은 값의 타입이 숫자형이 아닙니다."
    return result
print(func2(2,3))

## 매개변수 default 값 넣어주기
def func3(x=1,y=2) : 
    result  = x + y
    return result
print(func3())

#이름을 지정해서 값을 넣어주기
def func4(x=1, y=2, z=3):
    result = (x + y) * z
    return result
print(func4(z=4))

Hello World
8
3
12

In [46]:
def func4(x,y,z):
    if z == True:
        result = x + y
    elif z == False:
        result = x-y
    else:
        result = "z타입은 bool의 형태여야 합니다"
    return result

def func4(x,y,z):
    if type(z) == bool:
        if z == True:
            result = x + y
        else:
            result = x - y
    else:
        result = "z타입은 bool의 형태여야 합니다"
    return result

print(func4(1,3,5))
print(func4(1,3,True))
print(func4(1,3,False))

z타입은 bool의 형태여야 합니다
4
-2

#### Class
1. 변수, 함수의 집합체
2. Class 이름은 대문자로 생성
3. self 매개변수 생성 -> 자기자신 -> class가 저장되어 있는 공간
4.  '__init__' 함수 -> class 생성 시 단 한번만 실행이 되는 함수
5.  '__init__' 함수는 필요시에만 작성

In [13]:
#클래스 선언
class Class1():
    def __init__(self):
        self.result = "Class가 생성되었습니다."

    def output(self):
        return self.result

In [14]:
Class_a = Class1()
print(Class_a.output())

Class가 생성되었습니다.

In [9]:
class Class2():
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def output(self):
        self.result = self.x + self.y
        return self.result

In [12]:
class_b = Class2(5,4)
class_c = Class2(10,3)

print(class_b.output())
print(class_c.output())

9
13

##### 연습문제
1. class 선언
2. self 제외한 매개변수 x y
3. 2개 함수 생성
4. 하나는 곱을 리턴 다른 하나는 나눗셈 리턴

In [15]:
class Class_3():
    def __init__(self, x, y):
        self.x = x
        self.y = y
    def output_multi(self):
        self.result = self.x * self.y
        return self.result
    def output_div(self):
        self.result = self.x / self.y
        return self.result

In [18]:
print(Class_3(9,3).output_div())
print(Class_3(9,3).output_multi())

3.0
27

#### 외부 라이브러리 사용하기
1. 설치하기 - !pip install 라이브러리명
2. 로드하기 - import 라이브러리명 as 별칭

##### csv 호출
pd.read_csv('파일경로')
- 절대경로 : 누구나 같은 위치로 이동할 수 있는 위치(url, c:/...)
- 상대경로 : 상대적인 위치( 현재  작업중인 디렉토리 )
-  ./ : 현재 작업중인 디렉토리
-  ../ : 상위 디렉토리
-  ./폴더명/ : 하위폴더
-  상위 두번 : ../../
-  하위 두번 : ./폴더명/폴더명/파일이름
-  상위 1번 하위 1번 : ../폴더명/

In [19]:
# !pip install pandas
import pandas as pd

In [ ]:
data = pd.read_csv('../../practice/data/uriage.csv')
data

In [30]:
#대문자 변환
#upper() 함수는 대문자로 변환시킨다(단, 문자열만)
#df에서는 Series형태이므로 string화 시켜준 뒤 변환한다.
data['item_name'] = data['item_name'].str.upper()
data['item_name']



#공백 삭제 : l/r/strip(), replace(), apply(함수)

#case1 : 문자열화 시킨 뒤 replace() 사용
data['item_name'] = data['item_name'].str.replace(' ','')

#case2 : apply(def) or apply(lambda)
data['item_name'] = data['item_name'].apply(lambda x : x.replace(' ', ''))

#case3 : def 생성 후 apply(def)
def change(x):
    return x.replace(' ', '')
data['item_name'] = data['item_name'].apply(change)

#### Class에 연동하기, 모듈화 시키기
1. init 함수 : 파일 경로를 받아오기 -> 매개변수 : 파일 경로
2. 함수1 생성 : 공백 제거, 대문자로 변환 후 리턴 -> 매개변수 : 특정 컬럼
3. 데이터프레임을 리턴

In [115]:
class Class_4():
    def __init__(self, _path):
        self.df = pd.read_csv(_path)
    
    def change(self, _column):
        #공백제거 뒤에.upper()로 붙여도 됌
        self.df[_column] = self.df[_column].str.replace(" ", "").str.upper()
        #대문자변환
        #self.df[_column] = self.df[_column].str.upper()
        return self.df
    
    def time(self, _column):
        self.df[_column] = pd.to_datetime(self.df[_column])
        return self.df

    def new_var(self, _column3):
        self.df["Year"] = pd.to_datetime(self.df[_column3]).dt.strftime("%Y")
        self.df["month"] = pd.to_datetime(self.df[_column3]).dt.strftime("%m")
        self.df["day"] = pd.to_datetime(self.df[_column3]).dt.strftime("%d")
        return self.df
        
    def review(self):
        return self.df

In [71]:
class_df = Class_4('../data/uriage.csv')

In [ ]:
class_df.change('item_name')

#### mod 파일 바꾸면 반드시 reload 해줘야함 !

In [130]:
import mod2
import imp
imp.reload(mod2)

In [131]:
class_df_2 = mod2.Class_df('../data/uriage.csv')

In [132]:
class_df_2.change('item_name')

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
1     2019-07-13 13:05       상품S         NaN           김우찬
2     2019-05-11 19:42       상품A         NaN           김유찬
3     2019-02-12 23:40       상품Z      2600.0           김재현
4      2019-04-22 3:09       상품A         NaN           김강현
...                ...       ...         ...           ...
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2996  2019-03-29 11:14       상품Q         NaN           김지율
2997  2019-07-14 12:56       상품H         NaN           김승주
2998   2019-07-21 0:31       상품D       400.0           정준기

[2999 rows x 4 columns]

In [133]:
class_df_2.time('purchase_date')
class_df_2.review().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  2999 non-null   datetime64[ns]
 1   item_name      2999 non-null   object
 2   item_price     2612 non-null   float64
 3   customer_name  2999 non-null   object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 93.8+ KB

In [134]:
class_df_2.new_var("purchase_date")

           purchase_date item_name  item_price customer_name  Year month day
0    2019-06-13 18:02:00       상품A       100.0           김가온  2019    06  13
1    2019-07-13 13:05:00       상품S         NaN           김우찬  2019    07  13
2    2019-05-11 19:42:00       상품A         NaN           김유찬  2019    05  11
3    2019-02-12 23:40:00       상품Z      2600.0           김재현  2019    02  12
4    2019-04-22 03:09:00       상품A         NaN           김강현  2019    04  22
...                  ...       ...         ...           ...   ...   ...  ..
2994 2019-02-15 02:56:00       상품Y      2500.0           김정민  2019    02  15
2995 2019-06-22 04:03:00       상품M      1300.0           김재원  2019    06  22
2996 2019-03-29 11:14:00       상품Q         NaN           김지율  2019    03  29
2997 2019-07-14 12:56:00       상품H         NaN           김승주  2019    07  14
2998 2019-07-21 00:31:00       상품D       400.0           정준기  2019    07  21

[2999 rows x 7 columns]

In [135]:
class_df_3 = mod2.Class_df('../data/Sales Records.csv')

In [142]:
class_df_3.review().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          10000 non-null  object
 1   Country         10000 non-null  object
 2   Item Type       10000 non-null  object
 3   Sales Channel   10000 non-null  object
 4   Order Priority  10000 non-null  object
 5   Order Date      10000 non-null  datetime64[ns]
 6   Order ID        10000 non-null  int64
 7   Ship Date       10000 non-null  object
 8   Units Sold      10000 non-null  int64
 9   Unit Price      10000 non-null  float64
 10  Unit Cost       10000 non-null  float64
 11  Total Revenue   10000 non-null  float64
 12  Total Cost      10000 non-null  float64
 13  Total Profit    10000 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(6)
memory usage: 1.1+ MB

In [141]:
class_df_3.time('Order Date')

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,2011-01-27,292494523,2/12/2011,4484,651.21,524.96,2920025.64,2353920.64,566105.00
1,Europe,Latvia,Beverages,Online,C,2015-12-28,361825549,1/23/2016,1075,47.45,31.79,51008.75,34174.25,16834.50
2,Middle East and North Africa,Pakistan,Vegetables,Offline,C,2011-01-13,141515767,2/1/2011,6515,154.06,90.93,1003700.90,592408.95,411291.95
3,Sub-Saharan Africa,Democratic Republic of the Congo,Household,Online,C,2012-09-11,500364005,10/6/2012,7683,668.27,502.54,5134318.41,3861014.82,1273303.59
4,Europe,Czech Republic,Beverages,Online,C,2015-10-27,127481591,12/5/2015,3491,47.45,31.79,165647.95,110978.89,54669.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Asia,Laos,Beverages,Online,H,2014-07-15,199342048,7/31/2014,8597,47.45,31.79,407927.65,273298.63,134629.02
9996,Europe,Liechtenstein,Cosmetics,Online,C,2012-10-27,763044106,11/1/2012,562,437.20,263.33,245706.40,147991.46,97714.94
9997,Sub-Saharan Africa,Democratic Republic of the Congo,Vegetables,Offline,M,2013-02-14,848579967,3/20/2013,2524,154.06,90.93,388847.44,229507.32,159340.12
9998,Sub-Saharan Africa,South Africa,Meat,Online,L,2017-02-19,298185956,2/22/2017,8706,421.89,364.69,3672974.34,3174991.14,497983.20
9999,Asia,Mongolia,Snacks,Offline,M,2016-04-12,824410903,4/16/2016,361,152.58,97.44,55081.38,35175.84,19905.54