## Datetime 라이브러리
- 시계열 데이터

In [1]:
import datetime

In [2]:
format = '%Y-%m-%d %H:%M:%S'
datetime_str = '2022-08-31 10:16:20'
print(datetime_str)
print(type(datetime_str))

2022-08-31 10:16:20
<class 'str'>

In [8]:
date = datetime.datetime.strptime(datetime_str, format)
print(date)
print(type(date))

2022-08-31 10:16:20
<class 'datetime.datetime'>

In [10]:
#현재 날짜 출력
datetime.date.today()

datetime.date(2022, 8, 31)

### 시계열 데이터 -> string으로 변환

> datetime format
  - % Y : 년도('2022') 
  - % y : 년도를 축약해서 표시('22')
  - % B : 월('March') 
  - % b : 월을 축약해서 표시('Mar')
  - % m : 월을 숫자로 표시 ('08')
  - % d : 일을 숫자로 표시 ('31')
  - % H : 시를 24시로 표시 / %I = 시를 12시간 기준으로 표시
  - % M : 분
  - % S : 초
  - % a : 요일 이름 축약 표시
  - % A : 요일의 이름을 표시
  - % w : 요일을 숫자로 표시

In [14]:
date_str = date.strftime(format)
print(date_str)
print(type(date_str))

2022-08-31 10:16:20
<class 'str'>

In [17]:
import pandas as pd

# 나노초를 기준으로 1970-01-01 00:00:00에서 나노초만큼 더한 날짜
pd.Timestamp(100000000000000000)

Timestamp('1973-03-03 09:46:40')

In [19]:
# unit = 'D' 기준을 일로 변경
pd.Timestamp(100000, unit = "D")

Timestamp('2243-10-17 00:00:00')

In [20]:
pd.Timestamp('2022-06')

Timestamp('2022-06-01 00:00:00')

In [22]:
pd.to_datetime('2022-01-01 12')

Timestamp('2022-01-01 12:00:00')

In [23]:
pd.to_datetime(['2022-01-01','2022-08-31'])

DatetimeIndex(['2022-01-01', '2022-08-31'], dtype='datetime64[ns]', freq=None)

In [27]:
pd.date_range('2022-01-01', '2022-08-31') #일ㅏ

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-08-22', '2022-08-23', '2022-08-24', '2022-08-25',
               '2022-08-26', '2022-08-27', '2022-08-28', '2022-08-29',
               '2022-08-30', '2022-08-31'],
              dtype='datetime64[ns]', length=243, freq='D')

In [29]:
pd.date_range('2022-01-01', '2022-08-31', freq= 'm') #월 기준으로 지정

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31'],
              dtype='datetime64[ns]', freq='M')

In [30]:
pd.Timedelta('1days')

Timedelta('1 days 00:00:00')

In [32]:
pd.Timestamp('2022-08-31')+ pd.Timedelta(' 1 days 03:00:0 ')

Timestamp('2022-09-01 03:00:00')

#### 특정 시간 추출 
- 특정 년 월 일 추출
    self.df["Year"] = pd.to_datetime(self.df[_column]).dt.strftime("%Y")
    self.df["month"] = pd.to_datetime(self.df[_column]).dt.strftime("%m")
    self.df["day"] = pd.to_datetime(self.df[_column]).dt.strftime("%d")
- 요일 추출
    corona_df_copy["요일"] = corona_df_copy["등록일시"].dt.weekday